<%- include('partials/header.ejs') %>
    
        <div class="main-section">
            <div class="view-post-container">
                <h3><%= post.title %></h3>
                <p>
                    <%= post.content %>
                </p>
                <a href="/edit-post/<%= post._id %>">Edit</a>
                <a href="/delete-post/<%= post._id %>">Delete</a>
            </div>
        </div>
    
        <%- include('partials/footer.ejs') %>