<%- include('partials/header.ejs') %>

    <div class="main-section">
        <div class="view-posts-container">
            <h3>Your Posts</h3>
            <% posts.forEach((post, index)=> { %>
                <div class="post clearfix">
                    <h4>
                        <%= post.title %>
                    </h4>
                    <p>
                        <%= truncate(post.content, 100) %>
                    </p>
                    <!-- <a href="/view-post/<%#= index %>" class="view">Read more</a> -->
                    <form action="/delete-post/<%= index %>" method="POST">
                        <button type="submit" class="delete">Delete</button>
                        </form>
                    <a href="/edit-post/<%= index %>" class="edit">Edit</a>
                </div>
                <% }); %>
                <footer>
                    <a href="/view-post/0" style="float: left"><strong> ← Back to Posts </strong></a>
                    <!-- <a href="/create-post" style="float: right"><strong>  Create New Post →  </strong></a> -->
                </footer>
        </div>

    </div>

    <% function truncate(text, maxLength) { 
        if (text.length> maxLength) {
            return text.substring(0, maxLength) + '...';
        } else {
            return text;
        }
    } %>

    <%- include('partials/footer.ejs') %>